@{
    ViewData["Title"] = "تکمیل سفارش";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
        <div class="card cart">
            <div class="card-header text-center">
                <h1 class="card-title"> <i class="fa fa-check-square-o text-success"></i></h1>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title text-success">سفارش شما با کد رهگیری @ViewData["OrderId"] ثبت شد</h5>
                <p class="card-text">از اینکه اعتماد شما بی نهایت سپاسگزارم.</p>
                <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="products">بازگشت به انتخاب محصول</a>
            </div>
        </div>
    </div>
</div>