@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "فرم ثبت سفارشات";
}
<form asp-controller="Home" asp-action="AddToOrder" method="post">
    <div class="row">
        <div class="col-md-6 col-xl-4 col-sm-6">
            <div class="card">
                <div class="productItem" data-id="9">
                    <div class="product-image6 p-5">
                        <img class="img-fluid br-7 w-100" src="~/assets/images/products/9.jpg" alt="img">
                    </div>
                    <div class="card-body pt-0">
                        <div class="product-content text-center">
                            <h1 class="title fw-bold fs-6">شیائومی مدل Redmi Note 13 Pro</h1>
                            <div class="mb-2 text-warning">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-o text-warning"></i>
                                <i class="fa fa-star-o text-warning"></i>
                            </div>
                            <div class="">
                                <h8 class="title fw-bold fs-9 number-format">455325 تومان</h8>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                                                <button type="button" class="btn btn-outline-primary mb-1 sendProductId">افزودن به سفارشات<i class="fe fe-shopping-cart mx-2 wishlist-icon"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4 col-sm-6">
            <div class="card">
                <div class="productItem" data-id="10">
                    <div class="product-image6 p-5">
                        <img class="img-fluid br-7 w-100" src="~/assets/images/products/10.jpg" alt="img">
                    </div>
                    <div class="card-body pt-0">
                        <div class="product-content text-center">
                            <h1 class="title fw-bold fs-6">اپل مدل iPhone 13 CH 256</h1>
                            <div class="mb-2 text-warning">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-o text-warning"></i>
                                <i class="fa fa-star-o text-warning"></i>
                            </div>
                            <div class="">
                                <h8 class="title fw-bold fs-9 number-format">455325 تومان</h8>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                                                <button type="button" class="btn btn-outline-primary mb-1 sendProductId">افزودن به سفارشات<i class="fe fe-shopping-cart mx-2 wishlist-icon"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4 col-sm-6">
            <div class="card">
                <div class="productItem" data-id="4">
                    <div class="product-image6 p-5">
                        <img class="img-fluid br-7 w-100" src="~/assets/images/products/4.jpg" alt="img">
                    </div>
                    <div class="card-body pt-0">
                        <div class="product-content text-center">
                            <h1 class="title fw-bold fs-6">اپل مدل iPhone 13 pro ZAA 128</h1>
                            <div class="mb-2 text-warning">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-o text-warning"></i>
                                <i class="fa fa-star-o text-warning"></i>
                            </div>
                            <div class="">
                                <h8 class="title fw-bold fs-9 number-format">455325 تومان</h8>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                                                <button type="button" class="btn btn-outline-primary mb-1 sendProductId">افزودن به سفارشات<i class="fe fe-shopping-cart mx-2 wishlist-icon"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4 col-sm-6">
            <div class="card">
                <div class="productItem" data-id="8">
                    <div class="product-image6 p-5">
                        <img class="img-fluid br-7 w-100" src="~/assets/images/products/8.jpg" alt="img">
                    </div>
                    <div class="card-body pt-0">
                        <div class="product-content text-center">
                            <h1 class="title fw-bold fs-6">سامسونگ مدل Galaxy A15 128</h1>
                            <div class="mb-2 text-warning">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-o text-warning"></i>
                                <i class="fa fa-star-o text-warning"></i>
                            </div>
                            <div class="">
                                <h8 class="title fw-bold fs-9 number-format">455325 تومان</h8>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                                                <button type="button" class="btn btn-outline-primary mb-1 sendProductId">افزودن به سفارشات<i class="fe fe-shopping-cart mx-2 wishlist-icon"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4 col-sm-6">
            <div class="card">
                <div class="productItem" data-id="1">
                    <div class="product-image6 p-5">
                        <img class="img-fluid br-7 w-100" src="~/assets/images/products/1.jpg" alt="img">
                    </div>
                    <div class="card-body pt-0">
                        <div class="product-content text-center">
                            <h1 class="title fw-bold fs-6">سامسونگ مدل Galaxy A35 128</h1>
                            <div class="mb-2 text-warning">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-o text-warning"></i>
                                <i class="fa fa-star-o text-warning"></i>
                            </div>
                            <div class="">
                                <h8 class="title fw-bold fs-9 number-format">455325 تومان</h8>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                                                <button type="button" class="btn btn-outline-primary mb-1 sendProductId">افزودن به سفارشات<i class="fe fe-shopping-cart mx-2 wishlist-icon"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4 col-sm-6">
            <div class="card">
                <div class="productItem" data-id="6">
                    <div class="product-image6 p-5">
                        <img class="img-fluid br-7 w-100" src="~/assets/images/products/6.jpg" alt="img">
                    </div>
                    <div class="card-body pt-0">
                        <div class="product-content text-center">
                            <h1 class="title fw-bold fs-6">سامسونگ مدل Galaxy A05 256</h1>
                            <div class="mb-2 text-warning">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-o text-warning"></i>
                                <i class="fa fa-star-o text-warning"></i>
                            </div>
                            <div class="">
                                <h8 class="title fw-bold fs-9 number-format">455325 تومان</h8>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                                                <button type="button" class="btn btn-outline-primary mb-1 sendProductId">افزودن به سفارشات<i class="fe fe-shopping-cart mx-2 wishlist-icon"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4 col-sm-6">
            <div class="card">
                <div class="productItem" data-id="5">
                    <div class="product-image6 p-5">
                        <img class="img-fluid br-7 w-100" src="~/assets/images/products/5.jpg" alt="img">
                    </div>
                    <div class="card-body pt-0">
                        <div class="product-content text-center">
                            <h1 class="title fw-bold fs-6">نوکیا مدل 1100</h1>
                            <div class="mb-2 text-warning">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-o text-warning"></i>
                                <i class="fa fa-star-o text-warning"></i>
                            </div>
                            <div class="">
                                <h8 class="title fw-bold fs-9 number-format">455325 تومان</h8>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                                                <button type="button" class="btn btn-outline-primary mb-1 sendProductId">افزودن به سفارشات<i class="fe fe-shopping-cart mx-2 wishlist-icon"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4 col-sm-6">
            <div class="card">
                <div class="productItem" data-id="7">
                    <div class="product-image6 p-5">
                        <img class="img-fluid br-7 w-100" src="~/assets/images/products/7.jpg" alt="img">
                    </div>
                    <div class="card-body pt-0">
                        <div class="product-content text-center">
                            <h1 class="title fw-bold fs-6">سامسونگ مدل Galaxy A55 512</h1>
                            <div class="mb-2 text-warning">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-o text-warning"></i>
                                <i class="fa fa-star-o text-warning"></i>
                            </div>
                            <div class="">
                                <h8 class="title fw-bold fs-9 number-format">455325 تومان</h8>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-outline-primary mb-1 sendProductId">افزودن به سفارشات<i class="fe fe-shopping-cart mx-2 wishlist-icon"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-4 col-sm-6">
            <div class="card">
                <div class="productItem" data-id="3">
                    <div class="product-image6 p-5">
                        <img class="img-fluid br-7 w-100" src="~/assets/images/products/3.jpg" alt="img">
                    </div>
                    <div class="card-body pt-0">
                        <div class="product-content text-center">
                            <h1 class="title fw-bold fs-6">سامسونگ مدل Galaxy S24 512</h1>
                            <div class="mb-2 text-warning">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-o text-warning"></i>
                                <i class="fa fa-star-o text-warning"></i>
                            </div>
                            <div>
                                <h8 class="title fw-bold fs-9 number-format">455325 تومان</h8>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-outline-primary mb-1 sendProductId">افزودن به سفارشات<i class="fe fe-shopping-cart mx-2 wishlist-icon"></i></button>
                    </div>
                </div>
            </div>
        </div>
</form>
@*    <div class="mb-5">
    <div class="float-end">
    <ul class="pagination ">
    <li class="page-item page-prev disabled">
    <a class="page-link" href="javascript:void(0)" tabindex="-1">Prev</a>
    </li>
    <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0)">5</a></li>
    <li class="page-item page-next">
    <a class="page-link" href="javascript:void(0)">Next</a>
    </li>
    </ul>
    </div>
    </div>
    *@
</div>


@*
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Products</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h2>Products List</h2>
    <ul id="product-list"></ul>
    <input type="text" id="new-product" placeholder="Enter new product" />
    <button id="add-product">Add Product</button>

    <script>
        $(document).ready(function () {
            // Load products from API
            $.get("https://localhost:7281/api/Products", function (data) {
                $.each(data, function (index, product) {
                    $("#product-list").append("<li>" + product + "</li>");
                });
            });

            // Add new product
            $("#add-product").click(function () {
                var newProduct = $("#new-product").val();
                $.ajax({
                    url: "https://localhost:7281/api/Products",
                    type: "POST",
                    data: JSON.stringify(newProduct),
                    contentType: "application/json",
                    success: function (data) {
                        $("#product-list").empty();
                        $.each(data, function (index, product) {
                            $("#product-list").append("<li>" + product + "</li>");
                        });
                    }
                });
            });
        });
    </script>
</body>
</html>
*@
<script src="~/js/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".sendProductId").click(function () {
            let productId = $(this).closest(".productItem").data("id"); // دریافت ID محصول
            let csrfToken = $('input[name="__RequestVerificationToken"]').val(); // دریافت CSRF Token

            $.ajax({
                url: '/Home/AddToOrder', // آدرس اکشن کنترلر
                type: 'POST',
                headers: {
                    'RequestVerificationToken': csrfToken
                },
                data: { ProductId: productId }, // ارسال ID محصول
                beforeSend: function () {
                    $("#result").html("در حال ارسال...");
                },
                success: function (response) {
                    $("#result").html("نتیجه: " + response);
                },
                error: function (xhr) {
                    alert("خطا در ارسال درخواست: " + xhr.statusText);
                }
            });
        });
    });
</script>